p{
font-size:20px
}
#header p{
    
    font-size:30px;
}
h3{
font-weight=bold;
    font-family:sans-serif;
    color:darkblue
}
samp{
    
    font-size:30px;
    font-family:cursive;
}
li{
    font-family: fantasy;
    font-size: 50px;
}